<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>ToDo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="node_modules/checklist-model/checklist-model.js"></script>
    <script src="node_modules/angular-ui-grid/ui-grid.js"></script>
    <script type="text/plain" src="node_modules/angular-ui-grid/ui-grid.min.css"></script>
    <link rel="stylesheet" href="node_modules/angular-ui-grid/ui-grid.css"/>
    <script src="js/app.js"></script>
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/MainCtrl.js"></script>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="node_modules/angular-xeditable/dist/css/xeditable.css"/>
    <script src="js/controllers/LoginController.js"></script>
    <script src="node_modules/angular-xeditable/dist/js/xeditable.js"></script>

    <style>
        .ng-hide {

            display: block!important;
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {height: 1500px}

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height: auto;}
        }
    </style>
</head>
<body  ng-app="app">
<div ng-controller="MainController">
<div class="container-fluid">
    <div class="row content">
        <div   ng-controller="LoginController" class="col-sm-3 sidenav">
            <h1>Welcome{{loginName}}</h1>
            <!--<p ng-hide="hideLogin">-->
            <div ng-hide="hideLogin" class="ng-hide">
           Login




                <form role="form">

                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" ng-model="username">
                    </div>
                    <div class="form-group">
                     <label>Password:</label>
                     <input type="password" class="form-control" ng-model="password" placeholder="Enter password">
                      </div>

                    <button type="submit" class="btn btn-default"  ng-click="login()">Login</button>
                <button class="btn btn-default"  ng-click="logout()">Logout</button>

                <!--<h1>{{usr}}</h1>-->
            </form>
        </div>
            <!--</p>-->


            <div ng-hide="regHide"  class="ng-hide">
              <h2>  Registration!</h2>



            </div>
            <button type="button" class="btn btn-success" ng-click="toggle()">Registration</button>
        </div>


        <div  ng-controller="MainCtrl" class="col-sm-9">
            <h4><small>RECENT POSTS</small></h4>
            <hr>
            <h2>Welcome in the Task Managger!</h2>
                <br>
                <br>


                <button type="button" id="addData" class="btn btn-success" ng-click="addData()">Add Data</button>
                {{printSelection}}
                <br>
                <br>
                <!-- <button id='toggleFiltering' ng-click="toggleFiltering()" class="btn btn-success">Toggle Filtering</button> -->
                <strong>Data Length:</strong> {{ gridOptions.data.length | number }}
                <br>
                <strong>Last Cell Edited:</strong> {{msg.lastCellEdited}}
                <br>
                 <input ng-model='filterValue'/><button ng-click='filter()'>Filter</button>
                <div id="grid1" ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav ui-grid-pinning class="grid"></div>
            <!--   <button type="button" class="btn btn-success" ng-click="getCurrentSelection()">Edit Users</button>
             <a href="#" editable-checklist="user.status" e-ng-options="s.value as s.text for s in statuses">
                 {{ showStatus() }}
             </a> -->

         <button type="button" class="btn btn-success" ng-click="toggle()">Show selected Users</button>

         <p ng-hide="myVar">
        Selected Users :
             <label ng-repeat="user in users">
                 <input type="checkbox"checklist-model="selectedUsers" checklist-value="user" checklist-comparator="compareFn"> {{user.name}}
             </label>
             <button type="button" class="btn btn-success" ng-click="saveSelectedUsers()">Save</button>
             <button type="button" class="btn btn-success" ng-click="canceleSelectedUsers()">Cancel</button>
         </p>




     </div>
 </div>
</div>


<footer class="container-fluid">
 <p>Footer Text</p>
</footer>
</div>
</body>
</html>
